* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    position: relative; /* Position relative for absolute positioning */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center; /* Center align all content */
    position: relative; /* Position relative for absolute positioning */
}

.logo {
    position: absolute; /* Position absolute for top left corner */
    top: 1px; /* Adjust top position as needed */
    left: 4px; /* Adjust left position as needed */
}

.logo img {
    width: 160px; /* Adjust width as needed */
    height: 160px; /* Maintain aspect ratio */
}

.college-info {
    display: inline-block; /* Display the college info as an inline-block element */
    vertical-align: middle; /* Align the college info vertically middle */
    text-align: left; /* Align the text within the college info to the left */
    position: relative; /* Position relative for absolute positioning */
}

.college-info h1 {
    font-size: 28px;
    margin-bottom: 5px;
    text-align: center;
}

.college-info h2 {
    font-size: 34px;
    margin-bottom: 5px;
    text-align: center;
}

.college-info p {
    font-size: 14px;
    margin-bottom: 5px;
}

.centered-text {
    text-align: center; /* Center align the text within the paragraph */
}

.logo2 {
    position: absolute; /* Position absolute for top right corner */
    top: 14px; /* Adjust top position as needed */
    right: 12px; /* Adjust right position as needed */
}

.logo2 img {
    width: 130px; /* Adjust width as needed */
    height: 130px; /* Maintain aspect ratio */
}
.scrolling-text, .scrolling-link {
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-text p, .scrolling-link a {
    display: inline-block;
    animation: scrolling 10s linear infinite;
    color: #54c8ef;
}

@keyframes scrolling {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.scrolling-link a {
    text-decoration: none; /* Remove underline from links */
}
/*###########################SYTLE FOR THE HEADER PART################################*/

/***************#####Style the login form container###### ************/
.content-wrapper {
    display: flex;
}

.login-form {
    width: 300px;
    padding: 20px;
    background-color: #f2b374;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px; /* Adjust as needed */
    height: auto; /* Adjust height as needed */
    max-height: 400px; /* Maximum height */
    overflow-y: auto; /* Add scrollbar if content exceeds max-height */
}

/* Style the form labels */
.login-form label {
    display: block;
    margin-bottom: 5px;
}

/* Style the form inputs */
.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style the submit button */
.login-form input[type="submit"] {
    background-color: #37b53f;
    color: white;
    cursor: pointer;
}

/* Change button color on hover */
.login-form input[type="submit"]:hover {
    background-color: #37b53f;
}

/* Style the forgot password and register links */
.login-form a {
    display: block;
    margin-top: 10px;
    text-align: right;
    text-decoration: none;
    color: #333;
}

/* Change link color on hover */
.login-form a:hover {
    color: #555;
}

/***#######################Naviagtion bar Style#######################*********/
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 44px; /* Decrease the margin-right value for less distance */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin-right for the last list item to avoid extra spacing */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
}

nav ul li a:hover {
    color: #ccc;
}
/*#########################Style for Nav Bar Ends##########################*/


/*#########################Style for Download Labbooks section Starts##########################*/

.download-labbooks {
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20px; /* Reduce margin bottom to create less space */
    background-color: #f9fcfd;
    border-radius: 5px;
    overflow: hidden;
}
.download-labbooks h2 {
    margin-bottom: 20px; /* Add margin bottom to create space between "Download Labbooks" text and courses */
}
.course-container {
    display: flex;
    justify-content: center;
}

.course {
    margin: 0 35px;
}

.course h3 {
    margin-bottom: 10px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 55px; /* Decrease the margin-right value for less distance */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin-right for the last list item to avoid extra spacing */
}

nav ul li a {
    text-decoration: none;
    color: #faf9f9;
    font-size: 20px;
}

nav ul li a:hover {
    color: #ccc;
}

.download-labbooks a {
    display: block;
    background-color: #37b53f;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.download-labbooks a:hover {
    background-color: #37b53f;
}

/* Style for course headings */
.course h2 {
    font-size: 24px;
    margin-bottom: 10px; 
}

/* Style for class headings */
.class h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

/*#########################Style for Downlaod LABBOOKS Ends##########################*

/* #################Style for the Check Practical Schedule section #################*/
.check-practical-schedule {
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    background-color: #f9fcfd;
    border-radius: 5px;
    overflow: hidden;
}

.check-practical-schedule a {
    display: block;
    text-decoration: none;
    background-color: #37b53f;
    color: white;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.check-practical-schedule a:hover {
    background-color: #37b53f;
}
/*################### Style for the Lab Availability section################### */
.lab-availability {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #37b53f;
    border-radius: 5px;
    overflow: hidden;
}

.lab-availability a {
    display: block;
    text-decoration: none;
    background-color: #37b53f;
    color: white;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 5px;
}

.lab-availability a:hover {
    background-color: #37b53f;
}/*#######################################################################################*/

/* Style for the section containing login form and download labbooks */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.left-side {
    width: 300px; /* Adjust width as needed */
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.login-form {
    width: 100%;
    padding: 20px;
    background-color: #f2b374;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    margin-left: 10px;
}

.download-labbooks,
.check-practical-schedule,
.lab-availability {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #f9fcfd;
    border-radius: 5px;
    overflow: hidden;
}

.line {
    width: 100%;
    height: 4px;
    background-color: #333; /* Adjust color as needed */
    margin-top: 4px; /* Adjust margin-top as needed */
}

.gallery-link {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #0a0000;
    text-decoration: none;
}

.gallery-link:hover {
    color: #555;
}

/* Google Map */
/* Google Map */
.google-map-container {
    float: left;
    width: 50%;
    margin-right: 10px; /* Adjust the right margin as needed */
}

.google-map {
    width: 100%;
}

/* Contact Us */
.gate {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 5px; /* Adjust the left margin as needed */
}

.gate img {
    max-width: 100%;
    height: auto;
    width: 610px; /* Adjust the width as needed */
    height: 450px; /* Adjust the height as needed */
    position: relative;
    margin-bottom: 10px;
}

.contact-us {
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    margin-top: 5px;
}

.contact-us h2 {
    margin-top: 0;
    color: #f9fcfd;    
}

.contact-us p {
    margin-bottom: 10px;
    color: #f9fcfd;   
}
